[submodule "NeteaseCloudMusicApi"]
	path = NeteaseCloudMusicApi
	url = https://github.com/HyPlayer/NeteaseCloudMusicApi.git
[submodule "Kawazu"]
	path = Kawazu
	url = https://github.com/HyPlayer/Kawazu.git
[submodule "AudioEffectComponent"]
	path = AudioEffectComponent
	url = https://github.com/HyPlayer/AudioEffectComponent
