[submodule "NeteaseCloudMusicApi"]
	path = NeteaseCloudMusicApi
	url = https://github.com/kengwang/NeteaseCloudMusicApi.git
[submodule "Kawazu"]
	path = Kawazu
	url = https://github.com/HyPlayer/Kawazu.git
