[submodule "Kawazu"]
	path = Kawazu
	url = https://github.com/HyPlayer/Kawazu.git
[submodule "LyricParser"]
	path = LyricParser
	url = https://github.com/HyPlayer/LyricParser
	branch = UWP
[submodule "Impressionist"]
	path = Impressionist
	url = https://github.com/Storyteller-Studios/Impressionist
[submodule "HyPlayer.Frieren"]
	path = HyPlayer.Frieren
	url = https://github.com/HyPlayer/HyPlayer.Frieren
[submodule "HyPlayer.NeteaseProvider"]
	path = HyPlayer.NeteaseProvider
	url = https://github.com/HyPlayer/HyPlayer.NeteaseProvider
[submodule "LiteFM"]
	path = LiteFM
	url = https://github.com/Storyteller-Studios/LiteFM
