# Universal Windows Platform
# Build a Universal Windows Platform project using Visual Studio.
# Add steps that test and distribute an app, save build artifacts, and more:
# https://aka.ms/yaml

trigger:
- develop

pool:
  vmImage: 'windows-2022'

variables:
  solution: 'HyPlayer.sln'
  buildPlatform: 'x64|x86|ARM|ARM64'
  buildConfiguration: 'Release'
  appxPackageDir: '$(build.artifactStagingDirectory)\AppxPackages\\'

steps:

- checkout: self
  submodules: true

# Add this Command to Include the .NET 6 SDK
- task: UseDotNet@2
  displayName: Use .NET 6.0
  inputs:
    packageType: 'sdk'
    version: '6.0.x'

# Add a Command To List the Current .NET SDKs (Sanity Check)
- task: CmdLine@2
  inputs:
    script: 'dotnet --list-sdks'

- task: NuGetToolInstaller@1

- task: NuGetCommand@2
  inputs:
    restoreSolution: '$(solution)'

- task: DownloadSecureFile@1
  name: certificate
  displayName: 'Download CA certificate'
  inputs:
    secureFile: '$(signingCert.secureFilePath)'
 
- task: VSBuild@1
  inputs:
    solution: '$(solution)'
    vsVersion: '17.0'
    msbuildArgs: '/p:AppxBundlePlatforms="$(buildPlatform)"  /p:AppxPackageDir="$(appxPackageDir)"  /p:AppxBundle=Auto  /p:PackageCertificateThumbprint=""  /p:UapAppxPackageBuildMode=SideloadOnly  /p:AppxPackageSigningEnabled=true  /p:PackageCertificateKeyFile="$(certificate.secureFilePath)" /p:PackageCertificatePassword="$(signingCert.password)"'
    platform: 'x64'
    configuration: '$(buildConfiguration)'
    clean: true
    msbuildArchitecture: 'x64'
    customVersion: 'latest'

- task: CopyFiles@2
  displayName: 'Copy Files to: $(build.artifactstagingdirectory)'
  inputs:
    SourceFolder: '$(system.defaultworkingdirectory)'
    Contents: '**\bin\$(BuildConfiguration)\**'
    TargetFolder: '$(build.artifactstagingdirectory)'

- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact: drop'
  inputs:
    PathtoPublish: '$(build.artifactstagingdirectory)'

- task: ArchiveFiles@2
  inputs:
    rootFolderOrFile: '$(build.artifactstagingdirectory)/AppxPackages'
    includeRootFolder: true
    archiveType: 'zip'
    archiveFile: '$(build.artifactstagingdirectory)/drop.zip'
    replaceExistingArchive: true
    verbose: true

- task: GitHubRelease@1
  inputs:
    gitHubConnection: 'github connection 1'
    repositoryName: 'HyPlayer/HyPlayer'
    action: 'edit'
    target: '$(Build.SourceVersion)'
    tag: 'azure-build'
    title: 'Azure Build $(Build.BuildNumber)'
    releaseNotesSource: 'inline'
    releaseNotesInline: '> 这是 Azure DevOps 的自动编译,将会在每次Commit之后进行编译. 内容可能不稳定,如非特别需要,请使用商店版. 使用此版本出现的问题概不负责'
    assets: '$(Build.ArtifactStagingDirectory)/drop.zip'
    isPreRelease: true
    changeLogCompareToRelease: 'lastFullRelease'
    changeLogType: 'commitBased'
